<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet nisl suscipit adipiscing bibendum est ultricies. Venenatis tellus in metus vulputate eu scelerisque felis. Penatibus et
        magnis dis parturient montes nascetur. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Cursus vitae congue mauris rhoncus aenean vel elit. Augue ut lectus arcu bibendum.
        In ante metus dictum at tempor commodo ullamcorper a lacus. Ultrices sagittis orci a scelerisque purus.
    </p>
</article>